<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h2>Add Staggers</h2>
    <form action="/add_Staggers" method="POST">
        <label for="userId">User ID:</label>
        <input type="text" id="userId" name="userId" required>
        <br>
        <label for="sbp">sbp:</label>
        <input type="text" id="sbp" name="sbp" required>
        <br>
        <label for="dbp">dbp:</label>
        <input type="number" id="dbp" name="dbp" required>
        <br>
        <label for="his">his:</label>
        <input type="number" id="his" name="his" required>
        <br>
        <label for="smoke">smoke:</label>
        <input type="number" id="smoke" name="smoke" required>
        <br>
        <label for="fbs">fbs:</label>
        <input type="number" id="fbs" name="fbs" required>
        <br>
        <label for="HbAlc">HbAlc:</label>
        <input type="number" id="HbAlc" name="HbAlc" required>
        <br>
        <label for="total_Cholesterol">total_Cholesterol:</label>
        <input type="number" id="total_Cholesterol" name="total_Cholesterol" required>
        <br>
        <label for="Exe">Exe:</label>
        <input type="number" id="Exe" name="Exe" required>
        <br>
        <label for="bmi">bmi:</label>
        <input type="number" id="bmi" name="bmi" required>
        <br>
        <label for="family_his">family_his:</label>
        <input type="number" id="family_his" name="family_his" required>
        <br>
        <button type="submit">Add Test</button>

    </form>
</body>
</html>